name: Daily Zendesk Scraper

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare folders
        run: |
          mkdir -p logs
          mkdir -p state

      - name: Download previous state
        uses: actions/download-artifact@v4
        with:
          name: scraper-state
          path: state
        continue-on-error: true

      - name: Run scraper container
        run: |
          docker run \
            -v ${{ github.workspace }}/state:/app/state \
            -v ${{ github.workspace }}/logs:/app/logs \
            khangthinh/mynode-python-app

      - name: Upload run log
        uses: actions/upload-artifact@v4
        with:
          name: run-log
          path: logs/last_run.json

      - name: Upload state
        uses: actions/upload-artifact@v4
        with:
          name: scraper-state
          path: state