name: Daily Zendesk Scraper

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run scraper container
        run: docker run khangthinh/mynode-python-app
      - run: |
          docker run \
          -v ${{ github.workspace }}/state:/app/state \
          -v ${{ github.workspace }}/logs:/app/logs \
          khangthinh/mynode-python-app